@import '@fontsource/fira-mono';

:root {
	font-family: 'Montserrat', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	--color-primary-1: #f0fdfa;
	--color-primary-2: #ccfbf1;
	--color-primary-3: #99f6e4;
	--color-primary-4: #5eead4;
	--color-primary-5: #2dd4bf;
	--color-primary-6: #14b8a6;
	--color-primary-7: #0d9488;
	--color-primary-8: #0f766e;
	--color-primary-9: #115e59;
	--color-primary-10: #134e4a;
	--color-primary-11: #042f2e;

	--color-danger-1: #fef2f2;
	--color-danger-2: #fee2e2;
	--color-danger-3: #fecaca;
	--color-danger-4: #fca5a5;
	--color-danger-5: #f87171;
	--color-danger-6: #ef4444;
	--color-danger-7: #dc2626;
	--color-danger-8: #b91c1c;
	--color-danger-9: #991b1b;
	--color-danger-10: #7f1d1d;
	--color-danger-11: #450a0a;

	--color-warning-1: #fff7ed;
	--color-warning-2: #ffedd5;
	--color-warning-3: #fed7aa;
	--color-warning-4: #fdba74;
	--color-warning-5: #fb923c;
	--color-warning-6: #f97316;
	--color-warning-7: #ea580c;
	--color-warning-8: #c2410c;
	--color-warning-9: #9a3412;
	--color-warning-10: #7c2d12;
	--color-warning-11: #431407;

	--color-success-1: #f0fdf4;
	--color-success-2: #dcfce7;
	--color-success-3: #bbf7d0;
	--color-success-4: #86efac;
	--color-success-5: #4ade80;
	--color-success-6: #22c55e;
	--color-success-7: #16a34a;
	--color-success-8: #15803d;
	--color-success-9: #166534;
	--color-success-10: #14532d;
	--color-success-11: #052e16;

	--color-info-1: #eff6ff;
	--color-info-2: #dbeafe;
	--color-info-3: #bfdbfe;
	--color-info-4: #93c5fd;
	--color-info-5: #60a5fa;
	--color-info-6: #3b82f6;
	--color-info-7: #2563eb;
	--color-info-8: #1d4ed8;
	--color-info-9: #1e40af;
	--color-info-10: #1e3a8a;
	--color-info-11: #172554;

	--color-neutral-1: #fafafa;
	--color-neutral-2: #f5f5f5;
	--color-neutral-3: #e5e5e5;
	--color-neutral-4: #d4d4d4;
	--color-neutral-5: #a3a3a3;
	--color-neutral-6: #737373;
	--color-neutral-7: #525252;
	--color-neutral-8: #404040;
	--color-neutral-9: #262626;
	--color-neutral-10: #171717;
	--color-neutral-11: #0a0a0a;

	--color-background-1: #fff;

	--space-unit: 1;

	--space-auto: auto;
	--space-none: 0;
	--space-xxxxs: calc(0.1rem * var(--space-unit));
	--space-xxxs: calc(0.2rem * var(--space-unit));
	--space-xxs: calc(0.4rem * var(--space-unit));
	--space-xs: calc(0.8rem * var(--space-unit));
	--space-sm: calc(1.2rem * var(--space-unit));
	--space-md: calc(1.6rem * var(--space-unit));
	--space-lg: calc(2rem * var(--space-unit));
	--space-xl: calc(2.4rem * var(--space-unit));
	--space-xxl: calc(3.2rem * var(--space-unit));
	--space-xxxl: calc(6.4rem * var(--space-unit));

	--font-size-unit: 1;

	--font-size-none: 0;
	--font-size-xxxxs: calc(0.1rem * var(--font-size-unit));
	--font-size-xxxs: calc(0.2rem * var(--font-size-unit));
	--font-size-xxs: calc(0.4rem * var(--font-size-unit));
	--font-size-xs: calc(0.8rem * var(--font-size-unit));
	--font-size-sm: calc(1.2rem * var(--font-size-unit));
	--font-size-md: calc(1.6rem * var(--font-size-unit));
	--font-size-lg: calc(2rem * var(--font-size-unit));
	--font-size-xl: calc(2.4rem * var(--font-size-unit));
	--font-size-xxl: calc(3.2rem * var(--font-size-unit));
	--font-size-xxxl: calc(6.4rem * var(--font-size-unit));

	--border-radius-sm: 0.2rem;
	--border-radius-md: 0.4rem;
	--border-radius-lg: 0.8rem;
	--border-radius-xl: 1.6rem;
	--border-radius-circle: 50%;
	--border-radius-pill: 9999px;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	max-height: 100vh;
}

body {
	margin: 0;
	font-weight: 500;
	font-size: 1.6rem;
	overflow: hidden;
	text-rendering: optimizeLegibility;
}

#svelte {
	min-height: 100vh;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	margin-bottom: 0 0 1em 0;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

::-webkit-scrollbar-track {
	background-color: var(--color-primary-1);
}

::-webkit-scrollbar {
	width: 6px;
	background-color: var(--color-primary-2);
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-primary-3);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-primary-5);
}
