@import '@fontsource/fira-mono';
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/lime.css";
@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/yellow.css";
@import "@radix-ui/colors/grayDark.css";
@import "@radix-ui/colors/blueDark.css";
@import "@radix-ui/colors/greenDark.css";
@import "@radix-ui/colors/redDark.css";
@import "@radix-ui/colors/limeDark.css";
@import "@radix-ui/colors/violetDark.css";
@import "@radix-ui/colors/yellow.css";

:root {
	font-family: 'Montserrat', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	--color-primary-1: var(--lime6);
	--color-primary-1: var(--lime6);
	--color-primary-2: var(--lime7);
	--color-primary-3: var(--lime8);
	--color-primary-4: var(--lime10);
	--color-primary-5: var(--lime12);

	--color-secondary-1: var(--violet6);
	--color-secondary-2: var(--violet7);
	--color-secondary-3: var(--violet8);
	--color-secondary-4: var(--violet10);
	--color-secondary-5: var(--violet12);

	--color-danger-1: var(--red8);
	--color-danger-2: var(--red9);
	--color-danger-3: var(--red10);
	--color-danger-4: var(--red11);
	--color-danger-5: var(--red12);

	--color-warning-1: var(--yellow7);
	--color-warning-2: var(--yellow8);
	--color-warning-3: var(--yellow9);
	--color-warning-4: var(--yellow10);
	--color-warning-5: var(--yellow11);

	--color-success-1: var(--green8);
	--color-success-2: var(--green9);
	--color-success-3: var(--green10);
	--color-success-4: var(--green11);
	--color-success-5: var(--green12);

	--color-info-1: var(--blue8);
	--color-info-2: var(--blue9);
	--color-info-3: var(--blue10);
	--color-info-4: var(--blue11);
	--color-info-5: var(--blue12);

	--color-neutral-1: var(--gray1);
	--color-neutral-2: var(--gray2);
	--color-neutral-3: var(--gray3);
	--color-neutral-4: var(--gray4);
	--color-neutral-5: var(--gray5);
	--color-neutral-6: var(--gray6);
	--color-neutral-7: var(--gray7);
	--color-neutral-8: var(--gray8);
	--color-neutral-9: var(--gray9);
	--color-neutral-10: var(--gray10);
	--color-neutral-11: var(--gray11);
	--color-neutral-12: var(--gray12);

	--color-background-1: var(--gray1);

	--space-unit: 1;

	--space-auto: auto;
    --space-none: 0;
	--space-xxxxs: calc(0.1rem * var(--space-unit));
    --space-xxxs: calc(0.2rem * var(--space-unit)),; 
    --space-xxs: calc(0.4rem * var(--space-unit));
    --space-xs: calc(0.8rem * var(--space-unit)); 
    --space-sm: calc(1.2rem * var(--space-unit)); 
    --space-md: calc(1.6rem * var(--space-unit)); 
    --space-lg: calc(2rem * var(--space-unit)); 
    --space-xl: calc(2.4rem * var(--space-unit));   
    --space-xxl: calc(3.2rem * var(--space-unit));
    --space-xxxl: calc(6.4rem * var(--space-unit));

}

* {
	box-sizing: border-box;
}

html {
	font-size:62.5%;
}

body {
	min-height: 100vh;
	margin: 0;
	font-weight: 500;	
	font-size: 1.6rem;
}

#svelte {
	min-height: 100vh;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	margin-bottom: 0 0 1em 0;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

::-webkit-scrollbar-track {
	background-color: var(--color-gray);
}

::-webkit-scrollbar {
	width: 6px;
	background-color: var(--color-gray-1);
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-gray-1);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-primary);
}
